<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyx.dao.BannerDao">
    <resultMap id="forBanner" type="Banner">
        <id column="id" property="id"  javaType="Integer"></id>
        <result column="create_at" property="createAt" javaType="Long"></result>
        <result column="update_at" property="updateAt" javaType="Long"></result>
        <result column="create_by" property="createBy" javaType="String"></result>
        <result column="create_by" property="updateBy" javaType="String"></result>
    </resultMap>
    <select id="findBanner" resultMap="forBanner">
        select * from banner
    </select>
    <insert id="addBanner" parameterType="Banner" useGeneratedKeys="true" keyProperty="id">
        insert into banner (
        image,url,state,priority,create_at,update_at,create_by,update_by)
        value (#{image},#{url},#{state},#{priority},#{createAt},#{updateAt},#{createBy},#{updateBy})
    </insert>
    <update id="updateBanner" parameterType="Banner">
        update banner set state=#{state} where id = #{id}
    </update>
    <delete id="deleteBanner" parameterType="Long">
        delete from banner  id = #{id}
    </delete>
</mapper>